html
    body 
        form(action="/data" method="post")
            input(name='un')
            input(type="email" name='eid')
            input(type="radio" name='branch' value='CSE')
            |CSE
            input(type="radio" name='branch' value='CEA')
            |CEA
            input(type="submit") 