html 
    body 
        h1(style="color:purpule , text-align:center")
        |Thank you for submiting 
        table(border='2',style='border:3px dotted red')
            tr 
                th Name 
                th Email 
                th Branch 
            tr 
                th #{uname}
                th #{eid}
                th #{branch} 