table(style="border:3px solid tomato" ,cellpadding='5', cellspacing='3')
    tr
        td Name
        td Age 
    tr 
        td ABC 
        td 30
    tr 
        td XYZ 
        td 20
    tr 
        td PQR
        td 10
h2(style='color:red ;text-align:center') Welcome
ol(type='1')
    li mango 
    li banana 
    li watermelon 
    a(
        href='/'
        target='_black'
        style='color:red ;font_size:35px'
    ) home
    // buffered comment
    //- unbuffered